@import '../../design-tokens/variables';

.participant-list-item {
  padding: 20px;
  border-radius: 4px;
  background-color: $surface;
  border: $outline;

  &__selected-avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    @media (max-width: 400px) {
      width: 70px;
      height: 70px;
    }
  }

  &__user-data {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (max-width: 400px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  &__avatar-selection {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
  }
}
